<!-- DETTAGLIO TRANSAZIONI-->
<div class="col py-5 px-md-5 bordered col-example ">
    <div class="shadow-lg p-3 mb-5 bg rounded">
            <div class="row">
                <!-- Columns are always 50% wide, on mobile and desktop -->
                  <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4>ID transazione</h4>
                    <p class="text-faded">nSòISJDFN</p>
                  </div>

                  <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4 >Data</h4>
                    <p class="text-faded">12-12-12</p>
                  </div>

                  <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Il tuo Wallet</h4>
                    <p class="text-faded">ASFDIUH19</p>
                  </div>

                 <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Destinatario</h4>
                    <p class="text-faded">QW9082UEJH</p>
                </div>


                <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Criptovaluta</h4>
                    <p class="text-faded">BTC</p>
                </div>

                <div class="col-lg-2 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Totale</h4>
                    <p class="text-faded">10</p>
                </div>
            </div>

        <!-- BOTTONE CREA TRANSAZIONE-->
        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Indietro</a>

    </div>
</div>