    <header>
        <div class="container bg-dark">
            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tribunaleminori">

                    {% load static %}
                    <a href="{% url 'dashboard' %}">
                        <img class=" media col-12 col py-3 px-md-3 bordered col-example" src="{% static 'smartwallet/img/SmartWallet_title.png' %}"/>
                    </a>

                </div>

            </div>
        </div>
    </header>