<!-- TABELLA TRANSAZIONI CON BOTTONE CREA-->
<div class="col py-5 px-md-5 bordered col-example">
    <div class="shadow-lg p-3 mb-5 bg rounded">
        <table class="table table-hover table-dark table-responsive-md">
            <thead>
                <tr>
                  <th scope="col">ID Transazione</th>
                  <th scope="col">Data</th>
                  <th scope="col">Il tuo Wallet</th>
                  <th scope="col">Criptovaluta</th>
                  <th scope="col">Totale</th>
                  <th scope="col">Dettagli</th>
                </tr>
              </thead>

              <tbody>

                <!-RIGA TRANSAZIONE-->
                <tr>
                  <th scope="row">1</th>
                  <td>AZSFLJ3748</td>
                  <td>12-12-12</td>
                  <td>BTC</td>
                  <td>10</td>
                  <td>-></td>
                </tr>

                <!-RIGA TRANSAZIONE-->
                <tr>
                  <th scope="row">1</th>
                  <td>AZSFLJ3748</td>
                  <td>12-12-12</td>
                  <td>BTC</td>
                  <td>10</td>
                  <td>-></td>
                </tr>

                <!-RIGA TRANSAZIONE-->
                <tr>
                  <th scope="row">1</th>
                  <td>AZSFLJ3748</td>
                  <td>12-12-12</td>
                  <td>BTC</td>
                  <td>10</td>
                  <td>-></td>
                </tr>

              </tbody>
        </table>


    <!-- BOTTONE CREA TRANSAZIONE-->
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Crea Transazione</a>

    </div>
</div>