<!DOCTYPE html>
<html lang="en">
<head>
    {% block stylesheets %}
        {% include 'partials/stylesheets.html' %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% if "login" in request.path %}
    {% include 'partials/header.html' %}
        {%  elif "registrazione" in request.path %}
    {% include 'partials/header.html' %}
{% endif %}
    {% block navbar %}
        {% include 'partials/navbar.html' %}
    {% endblock navbar %}
            <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

        </div>
        </div>

<main id="main_conteiner">{% block content %}{% endblock %}</main>
{% block footer %}{% endblock %}
</body>
{%block javascripts%}
        {%include 'partials/javascript.html'%}
{%endblock%}

</html>