{% extends 'base.html' %}

{% block title %}
    DashBoard - Smartwallet
{% endblock %}

{% block content %}

      <div class="row">
        <div class="col-lg-4">
</div>
<div class="col-lg-4">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="padding-top: 20px">Convertitore</legend>
                {{ form| crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Converti</button>
            </div>
        </form>


</div>
    </div>
{% endblock %}