{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}
    Invia Denaro - SmartWallet
{% endblock %}


{% block content %}

<div class="login-page form bg-dark">

        <form method="POST" novalidate>
            {% csrf_token %}

            <fieldset class="form-group label-registrati">
                <h2 class="registrati">Invia Denaro</h2>
                {{ form| crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" >Invia</button>
            </div>
        </form>


</div>
    </div>

{% endblock %}