{% extends 'base.html' %}

{% block title %}
    DashBoard - Smartwallet
{% endblock %}

{% block content %}
    <div class="col py-5 px-md-5 bordered col-example">

        <div class="shadow-lg p-3 mb-5 bg rounded">
            <table class="table table-striped table-dark ">

                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Valuta</th>
                  <th scope="col">Quantità</th>
                    <th scope="col">Elimina</th>
                </tr>
              </thead>

              <tbody>
        {% for conto in conti %}
                            <tr>
                  <th scope="row"></th>
                  <td>{{ conto.tipo_valuta.nome }}</td>
                  <td>{{ conto.importo }}</td>

                  <td>
                      <a href="{% url 'elimina_conto' conto.id%}" onclick="return confirm('Sei sicuro di voler eliminare questo articolo?')">
                                    <i class="fas fa-times" style="color: #ff0000;padding-left: 20px;"></i>
                      </a>
                  </td>
                </tr>
        {% endfor %}

              </tbody>


            </table>
            <hr>
            <h3>Totale: {{ totale }}
            {% if cambio_selezionato == 'USD' %}${% elif cambio_selezionato == 'EUR' %}€{% else %}{{ cambio_selezionato }}{% endif %}
             </h3>


        </div>
<a href="{% url 'aggiungi_conto' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" >Aggiungi Cryptovaluta</a>
    <a href="{% url 'selezione_cambio' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" >Cambia valuta predefinita</a>

</div>
{% endblock %}

{% block footer %}
        {% include 'partials/footer.html' %}
{% endblock %}

{% block javascripts %}
        {{ block.super }}
        {% include 'partials/update_rates_script.html' %}
{% endblock %}