{% extends 'base.html' %}

{% block title %}
    DashBoard - Smartwallet
{% endblock %}
{% block navbar %}<!-- NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <!-- Toggle button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-start" id="navbar">
          <ul class="navbar-nav"><li class="nav-item active">
                <a class="nav-link" href="{% url 'aggiungi_conto' %}">Aggiungi Cryptovaluta <span class="sr-only">(current)</span></a>
            </li>



            <li class="nav-item">
                <a class="nav-link" href="{% url 'transazioni' %}">Transazioni </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'converti_valute' %}">Tassi di Cambio </a>
            </li>

        </ul>
      </div>


      <!-- Log out button-->
      <div class="collapse navbar-collapse  justify-content-end" id="navbar">
          <ul class="navbar-nav">

              <!-- Divider for toggle mode-->
              <div class="dropdown-divider"></div>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out </a>
                </li>
          </ul>
      </div>

</nav>{% endblock %}
{% block content %}
    <div class="col py-5 px-md-5 bordered col-example">

        <div class="shadow-lg p-3 mb-5 bg rounded">
            <table class="table table-striped table-dark ">

                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Valuta</th>
                  <th scope="col">Quantità</th>
                    <th scope="col">Modifica</th>
                    <th scope="col">Elimina</th>
                </tr>
              </thead>

              <tbody>
        {% for conto in conti %}
                            <tr>
                  <th scope="row"></th>
                  <td>{{ conto.tipo_valuta.nome }}</td>
                  <td>{{ conto.importo }}</td>
                    <td>
                        <a {# href="{ url 'modifica_importo_conto'  value = 0%}" #}><i class="fas fa-pencil-alt" style="padding-left: 20px;"></i></a>
                  </td>
                  <td>
                      <a href="" onclick="return confirm('Sei sicuro di voler eliminare questo articolo?')">
                                    <i class="fas fa-times" style="color: #ff0000;padding-left: 20px;"></i>
                      </a>
                  </td>
                </tr>
        {% endfor %}

              </tbody>


            </table>

            <h3>Totale: </h3>
            <h3>{{ totale }}</h3>
        </div>
</div>
{% endblock %}