{% extends 'base.html' %}

{% block title %}
    DashBoard - Smartwallet
{% endblock %}

{% block content %}
    <div class="col py-5 px-md-5 bordered col-example">

        <div class="shadow-lg p-3 mb-5 bg rounded">
            <table class="table table-striped table-dark ">

                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Valuta</th>
                  <th scope="col">Quantità</th>
                    <th scope="col">Modifica</th>
                    <th scope="col">Elimina</th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <th scope="row"></th>
                  <td>Bitcoin</td>
                  <td>10</td>
                    <td>
                        <a {# href="{ url 'modifica_importo_conto'  value = 0%}" #}><i class="fas fa-pencil-alt" style="padding-left: 20px;"></i></a>
                  </td>
                  <td>
                      <a href="" onclick="return confirm('Sei sicuro di voler eliminare questo articolo?')">
                                    <i class="fas fa-times" style="color: #ff0000;padding-left: 20px;"></i>
                      </a>
                  </td>
                </tr>

              <tr>
                  <th scope="row"></th>
                  <td>Ethereum</td>
                  <td>43</td>
                  <td>
                           <a {# href="{ url 'modifica_importo_conto'  value = 0%}" #}><i class="fas fa-pencil-alt" style="padding-left: 20px;"></i></a>
                  </td>
                  <td>
                      <a href="" onclick="return confirm('Puoi eliminare solo se hai 0 di una valua')">
                                    <i class="fas fa-times" style="color: #ff0000;padding-left: 20px;"></i>
                      </a>
                  </td>
                </tr>

              </tbody>


            </table>

            <h3>Totale: </h3>
            <h3> 20000$</h3>
        </div>
</div>
{% endblock %}