{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<!-- DETTAGLIO TRANSAZIONI-->
<div class="col py-5 px-md-5 bordered col-example ">
    <div class="shadow-lg p-3 mb-5 bg rounded">
            <div class="row">
                <!-- Columns are always 50% wide, on mobile and desktop -->
                  <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4>ID transazione</h4>
                    <p class="text-faded">{{ transazione.id_transazione }}</p>
                  </div>

                  <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4 >Data</h4>
                    <p class="text-faded">{{ transazione.data }}</p>
                  </div>

                  <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Mittente</h4>
                    <p class="text-faded">{{ transazione.input_wallet }}</p>
                  </div>

                 <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Destinatario</h4>
                    <p class="text-faded">{{ transazione.output_wallet }}</p>
                </div>


                <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Criptovaluta</h4>
                    <p class="text-faded">{{ transazione.cryptocurrency }}</p>
                </div>

                <div class="col-lg-12 shadow-lg p-3 mb-5 bg rounded">
                    <h4>Totale</h4>
                    <p class="text-faded">{{ transazione.quantita }}</p>
                </div>
            </div>

        <!-- BOTTONE CREA TRANSAZIONE-->
        <a href="{% url 'transazioni' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Indietro</a>

    </div>
</div>
{% endblock %}